<!doctype html>
<html lang="en">
<title>{% block title %}{% endblock %}</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<section class="content vh-100">
    <header>
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="toast" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">{{ category }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
</section>

<script src="/static/scripts/toast.js"></script>

</html>